<p id="notice"><%= notice %></p>

<h1>Lighthouse Reports</h1>

<table>
  <thead>
    <tr>
      <th>URL</th>
    </tr>
    <tr>
      <th>Date</th>
    </tr>
    <tr>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lighthouse_reports.each do |lighthouse_report| %>
      <tr>
        <td><%= lighthouse_report.url %></td>
        <td><%= lighthouse_report.created_at.to_date %></td>
        <td><%= link_to 'Show', lighthouse_report %></td>
        <td><%= link_to 'Destroy', lighthouse_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lighthouse Report', new_lighthouse_report_path %>
